body {
  font-family: "poppins", sans-serif;
  background: #a5b68d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #c1cfa1;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
}

.industry,
.name,
.description {
  color: white;
  letter-spacing: 5px;
}

.industry {
  font-size: 30px;
  font-weight: 700;
  border-top: 0;
}

.name {
  font-size: 60px;
  font-weight: 900;
}

.description {
  font-size: 34px;
  font-weight: 300;
}

button {
  padding: 15px 30px;
  background: #a5b68d;
  color: white;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 3px;
}
.grid-section {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px 50px;
  background: white;
  font-weight: 300;
}

.grid-img {
  width: 90%;
  border-radius: 10px;
}

.title {
  color: #3f7d58;
  background: #dbe7c8;
  width: 40%;
  padding: 5px;
}

.grid-heading {
  color: #a5b68d;
}

strong {
  font-weight: 900;
}

.grid-content {
  color: #3f7d58;
  opacity: 0.7;
}

.cards-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1400px;
  padding: 100px 75px;
}

.cards-header {
  text-align: center;
  padding-bottom: 20px;
}

.cards-header h4 {
  color: #3f7d58;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.cards-header h2 {
  font-size: 40px;
  font-weight: 700;
  color: #a5b68d;
  margin-bottom: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for the cards */
  gap: 20px; /* Adjust spacing between columns */
}

.container {
  background: white;
}

.card {
  overflow: hidden;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

footer {
  background-image: linear-gradient(
      rgba(125, 138, 101, 0.6),
      rgba(125, 138, 101, 0.6)
    ),
    url("../images/footer-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}
