body {
  font-family: "poppins", sans-serif;
  background: #a5b68d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #c1cfa1;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
}

.industry,
.name,
.description {
  color: white;
  letter-spacing: 5px;
}

.industry {
  font-size: 30px;
  font-weight: 700;
  border-top: 0;
}

.name {
  font-size: 60px;
  font-weight: 900;
}

.description {
  font-size: 34px;
  font-weight: 300;
}

.hero-btn {
  padding: 15px 30px;
  color: #a5b68d;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 3px;
}

footer {
  background-image: linear-gradient(
      rgba(125, 138, 101, 0.6),
      rgba(125, 138, 101, 0.6)
    ),
    url("../images/footer-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}
